<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>尾部</title>
</head>
<body>
   <footer th:fragment="footer" id="footer" >
       <div class="container "></div>
            &copy;2019<a href="https://baidu.com">callus.com</a>
       </div>


       <!--javascript-->
       <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
       <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
       <script type="text/javascript" th:src="@{/js/tether.js}"></script>
       <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
       <script type="text/javascript" th:src="@{/js/paginator.js}"></script>
       <script type="text/javascript" th:src="@{/js/jquery.tagsinput.min.js}"></script>
       <script type="text/javascript" th:src="@{/js/thinker-md.vendor.js}"></script>
       <script type="text/javascript" th:src="@{/js/main.js}"></script>
   </footer>
</body>
</html>