<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .block {
            text-align:center;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 block" style="background: #0f0f0f;color: white;height: 50px;line-height: 50px">头部导航</div>
        </div>
        <div class="row pt-2">
            <div class="col-md-3">
                <div class="row pt-2">
                    <div class="col-md-12 block" style="background: #bbbbbb;color: black;height: 200px;line-height: 200px">头像</div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12 block" style="background: #d4291b;color: white;height: 80px;line-height: 80px">
                        姓名，邮箱
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12 block"  style="background: #0056b3;color: white;height: 200px;line-height: 200px">分类</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row pt-2">
                    <div class="col-md-12 block"  style="background: #6f42c1;color: white;height: 50px;line-height: 50px">排序，搜索栏</div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12 block" style="background: #34ce57;color: white;height: 500px;line-height: 500px;">博客列表</div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12 block" style="background: yellow;color: black;height: 50px;line-height: 50px;">分页</div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
           <footer class="col-md-12 block" style="background: #0f0f0f;color: white;height: 50px;line-height: 50px">尾部</footer>
        </div>
    </div>
</body>
</html>